<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="parent">
      <h2 data-cy="parentDetailsHeading"><span jhiTranslate="schoolApp.parent.detail.title">Parent</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ parent.id }}</span>
        </dd>
        <dt><span jhiTranslate="schoolApp.parent.name">Name</span></dt>
        <dd>
          <span>{{ parent.name }}</span>
        </dd>
        <dt><span jhiTranslate="schoolApp.parent.email">Email</span></dt>
        <dd>
          <span>{{ parent.email }}</span>
        </dd>
        <dt><span jhiTranslate="schoolApp.parent.phone">Phone</span></dt>
        <dd>
          <span>{{ parent.phone }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/parent', parent.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
